<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.sfbest.com/html/zt/xianguoxinyu/index.html?device=2</string>
	<string>http://www.sfbest.com/html/zt/aozhoufeiniu02/index.html?device=2</string>
	<string>http://www.sfbest.com/html/zt/PURAmilk/index.html?device=2</string>
	<string>http://m.sfbest.com/special/2-5971-2-52-500.html</string>
	<string>http://www.sfbest.com/html/zt/faguoweidao/index.html?device=2</string>
	<string>http://www.sfbest.com/html/zt/haomihaoyou/index.html?device=2</string>
</array>
</plist>
