<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>爱鲜蜂的服务时间?</string>
		<key>texts</key>
		<array>
			<string>鲜蜂人工客服的服务时间是9:00-24:00，鲜蜂侠的配送时间是10:00-02:00，智能客服的服务时间是7x24小时。</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>可配送哪些城市?</string>
		<key>texts</key>
		<array>
			<string>爱鲜蜂已在北京、上海、广州、深圳、佛山、苏州、杭州、南京、成都、武汉、宁波、天津、三河、无锡十四个城市开通配送服务，其他城市将会陆续开通，敬请关注。</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>如何新增、编辑和删除收货地址？</string>
		<key>texts</key>
		<array>
			<string>通过以下方式进入收货地址页，点击地址旁边的编辑功能可编辑或删除当前地址；点击页面下方的【新增地址】可添加收货地址。</string>
			<string>方式1：在首页点击顶部的【配送至：XXX】进入收货地址页；</string>
			<string>方式2：在首页底部点击【我的】，再点击【我的收货地址】进入收货地址页；</string>
			<string>方式3：选择商品后在购物车页，点击地址进入收货地址页。</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>什么是“鲜蜂精选”商品？</string>
		<key>texts</key>
		<array>
			<string>在商品名称前面显示“精选”二字标签的商品都是“鲜蜂精选”商品。</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>优惠券怎么使用?</string>
		<key>texts</key>
		<array>
			<string>在订单结算时点击“使用优惠券”，点选合适的优惠券即可使用，灰色为已过期或已使用的优惠券。</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>如何查询历史订单？</string>
		<key>texts</key>
		<array>
			<string>在APP首页底部点击【我的】，再点击【我的订单】即可查询全部订单，或通过微信平台点击左上角图标后，进入【我的订单】即可查询全部订单。</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>收货码怎么使用？</string>
		<key>texts</key>
		<array>
			<string>您收到商品确认无误后，请将收货码提供给配送员，即完成此单交易；若您还未收到商品，请不要提供收货码。</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>退款流程</string>
		<key>texts</key>
		<array>
			<string>进入订单详情，点击下方的【申请退款】，爱鲜蜂客服审核通过后会短信通知您;</string>
			<string>退款时间说明： 爱鲜蜂会在48小时内自动退款，按原支付方式退回，2-7个工作日内到账。</string>
			<string>如果未及时收到退款，请您与第三方支付平台联系核实：</string>
			<string>微信支付：请您登陆财付通，进入“钱包-交易记录”或联系财付通客服查询退款；</string>
			<string>支付宝支付：请您登陆支付宝，进入“账单”或联系支付宝客服查询退款；</string>
			<string>QQ钱包支付：请您登陆QQ钱包，进入“个人中心-交易记录“或联系QQ钱包客服查询退款。</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>免责声明</string>
		<key>texts</key>
		<array>
			<string>对于故意套单、恶意索赔等违反诚实信用原则的行为，爱鲜蜂有权取消订单、作废对应优惠券及拒绝相关的无理赔偿。</string>
		</array>
	</dict>
</array>
</plist>
